<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75352136218-sarpvbk07g86df4dkidanqk8ocndveii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75352136218-sarpvbk07g86df4dkidanqk8ocndveii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75352136218-6121eqmpkku1psmrrtn6hnvfem3uesis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpG3lwQ6yEEC8BZdck87hkyBiWJlPDnHA</string>
	<key>GCM_SENDER_ID</key>
	<string>75352136218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-c2efe</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-c2efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75352136218:ios:2ccb2e456c535219ddcfa3</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-c2efe-default-rtdb.firebaseio.com</string>
</dict>
</plist>